[submodule "packages/sous-chef-web"]
	path = packages/sous-chef-web
	url = git@github.com:the-sous-chef/sous-chef-web.git
[submodule "packages/aws"]
	path = packages/aws
	url = git@github.com:the-sous-chef/aws.git
[submodule "packages/sous-chef-mobile"]
	path = packages/sous-chef-mobile
	url = git@github.com:the-sous-chef/sous-chef-mobile.git
[submodule "packages/lambda-authorizer"]
	path = packages/lambda-authorizer
	url = git@github.com:the-sous-chef/lambda-authorizer.git
[submodule "pacakges/eslint-config"]
	path = pacakges/eslint-config
	url = git@github.com:the-sous-chef/eslint-config.git
[submodule "packages/eslint-config"]
	path = packages/eslint-config
	url = git@github.com:the-sous-chef/eslint-config.git
[submodule "packages/standards"]
	path = packages/standards
	url = git@github.com:the-sous-chef/standards.git
[submodule "packages/ingredients-api"]
	path = packages/ingredients-api
	url = git@github.com:the-sous-chef/ingredients-api.git
