[submodule "web/sous-chef"]
	path = web/sous-chef
	url = git@github.com:cookbookly/sous-chef.git
[submodule "mobile/SousChef"]
	path = mobile/SousChef
	url = git@github.com:cookbookly/SousChef.git
[submodule "serverless/lambda-authorizer"]
	path = serverless/lambda-authorizer
	url = git@github.com:cookbookly/lambda-authorizer.git
[submodule "serverless/firebase-auth"]
	path = serverless/firebase-auth
	url = git@github.com:cookbookly/firebase-auth.git
[submodule "serverless/apollo-gateway"]
	path = serverless/apollo-gateway
	url = git@github.com:cookbookly/apollo-gateway.git
[submodule "Services"]
	path = Services
	url = git@github.com:cookbookly/Services.git
[submodule "aws/cdk"]
	path = aws/cdk
	url = git@github.com:cookbookly/cdk.git
